/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body{
    background-color: #D6F6DD;
    font-family: sans-serif;
}

img{
    max-width:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black
  }

h1 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}
.profile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header{
    width: 80%;
    background-color: #ACECF7;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    
}
.body{
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    display: flex;
}
footer{
    width: 80%;
    background-color: #ACECF7;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    max-width: 500px;
    font-size: 14px;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}
.name{
    text-align: center;
    text-transform: uppercase;
}
.fun_facts{
  font-size: 16px;
}
li{
    margin-bottom: 30px;
    margin-top: 20px;
  }
hr {
height: 2px;
background-color: black;
border-color: black;
}